body {
	width: 100%;
	height: 100%;
}

#card {
	width: 453px;
	height: 352px;
}

.tileContainer{
    display: -webkit-box;   
	display: -moz-box; 
	display: -ms-flexbox;  
	display: -webkit-flex;
	display: flex;  
    
    -webkit-justify-content: center;
    -moz-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
    -moz-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 50px;
}

.button-bar {
	text-align: center;
    margin: 10px;
}

.btn {
	margin: 30px;
}

.front {
	 background-size: cover;
}

.back {
	 background-size: cover;
}