/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 477px;
	height: 370px;
	float: left;
	margin: 5px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
	width: 477px;
	height: 370px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	background-color: red;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background-color: green;
}

.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.tileContainer{
    display: -webkit-box;   
	display: -moz-box; 
	display: -ms-flexbox;  
	display: -webkit-flex;
	display: flex;  
    
    -webkit-justify-content: center;
    -moz-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
    -moz-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
}